<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
   <head>
       <title><%= yield(:title) %> | E-learning</title>
   </head>
   <body>
       <h1>E-learning</h1>
       <p>
           Welcome to e-learning!
       </p>
   </body>
</html>

