<!-- Site footer -->
<footer class="site-footer fixed-bottom">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 text-right">
                <a class="facebook" href="https://www.facebook.com/">
                <%# <i class="fa fa-facebook"></i> %>
                    <%= fa_icon "facebook" %>
                </a>
                <a class="instagram" href="https://www.instagram.com/">
                <%# <i class="fa fa-instagram"></i> %>
                    <%= fa_icon "instagram" %>
                </a>
                <a class="mail" href="https://mail.google.com/mail/u/0/">
                <%# <i class="fa fa-envelope-o"></i> %>
                    <%= fa_icon "envelope-o" %>
                </a>

            </div>
        </div>
    </div>
</footer>